{% extends 'main/base.html' %}

{% block title %}Set new password | Design Pro{% endblock %}

{% block content %}
<section class="card form auth">
  {% if validlink %}
    <h1>Set new password</h1>
    <p>Please enter and confirm your new password.</p>
    <form class="col" action="" method="post">
      {% csrf_token %}
      <label class="field">
        <span>{{ form.new_password1.label }}</span>
        {{ form.new_password1 }}
        {% if form.new_password1.errors %}
          <span class="err">{{ form.new_password1.errors.0 }}</span>
        {% endif %}
      </label>
      <label class="field">
        <span>{{ form.new_password2.label }}</span>
        {{ form.new_password2 }}
        {% if form.new_password2.errors %}
          <span class="err">{{ form.new_password2.errors.0 }}</span>
        {% endif %}
      </label>
      <div class="row">
        <input class="btn b1" type="submit" value="Change my password">
      </div>
    </form>
  {% else %}
    <h1>Password reset failed</h1>
    <p>The password reset link is invalid, possibly because it has already been used.</p>
    <a class="btn b4" href="{% url 'login' %}">Return to login</a>
  {% endif %}
</section>
{% endblock %}