{% extends 'main/base.html' %}

{% block title %}Categories | Design Pro{% endblock %}

{% block content %}
<section class="card">
  <h1>Application categories</h1>

  <form class="line" method="post">
    {% csrf_token %}
    {{ form.name }}
    <button class="btn b1" type="submit">Add</button>
  </form>

  <ul class="list">
    {% for category in categories %}
      <li class="list-i">
        {{ category.name }}
        <a class="btn b3 sm" href="{% url 'delete_category' category.id %}">Delete</a>
      </li>
    {% empty %}
      <li class="empty">There are no categories.</li>
    {% endfor %}
  </ul>
</section>
{% endblock %}