{% extends 'main/base.html' %}

{% block title %}Create request | Design Pro{% endblock %}

{% block content %}
<section class="card form">
  <h1>Creating an application</h1>

  <form class="col" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <label class="field">
      <span>Name</span>
      {{ form.title }}
      {% if form.title.errors %}
        <span class="err">{{ form.title.errors.0 }}</span>
      {% endif %}
    </label>

    <label class="field">
      <span>Description</span>
      {{ form.description }}
      {% if form.description.errors %}
        <span class="err">{{ form.description.errors.0 }}</span>
      {% endif %}
    </label>

    <label class="field">
      <span>Category</span>
      {{ form.category }}
      {% if form.category.errors %}
        <span class="err">{{ form.category.errors.0 }}</span>
      {% endif %}
    </label>

    <label class="field">
      <span>Photo of the room / plan</span>
      {{ form.photo }}
      {% if form.photo.errors %}
        <span class="err">{{ form.photo.errors.0 }}</span>
      {% endif %}
    </label>

    {% if form.non_field_errors %}
      <div class="msg e">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    <div class="row">
      <button class="btn b1" type="submit">Create a request</button>
    </div>
  </form>
</section>
{% endblock %}