{% extends 'main/base.html' %}

{% block title %}Delete category | Design Pro{% endblock %}

{% block content %}
<section class="card conf">
  <h1>Delete category</h1>

  <p>
    Are you sure you want to delete the category?
    <b>{{ category.name }}</b>?
  </p>

  <p>
    All applications with this category will be deleted.
  </p>

  <form class="row" method="post">
    {% csrf_token %}
    <button class="btn b3" type="submit">Yes, delete</button>
    <a class="btn b4" href="{% url 'categories' %}">Cancel</a>
  </form>
</section>
{% endblock %}