{% extends 'main/base.html' %}

{% block content %}
<div>
  <h1>Application management</h1>

  <div>
    <a href="{% url 'filter_status' %}">All</a>
    <a href="{% url 'filter_status' %}?status=new">New</a>
    <a href="{% url 'filter_status' %}?status=in_progress">In progress</a>
    <a href="{% url 'filter_status' %}?status=done">Done</a>
  </div>

  {% if requests %}
    <div>
      {% for req in requests %}
        <div>
          <div>
            {% if req.photo %}
              <img src="{{ req.photo.url }}" alt="{{ req.title }}">
            {% endif %}
            <div>
              <h5>{{ req.title }}</h5>
              <p><b>ID:</b> {{ req.id }}</p>
              <p><b>Date:</b> {{ req.created_at|date:"d.m.Y H:i" }}</p>
              <p><b>User:</b> {{ req.user.username }}</p>
              <p><b>Category:</b> {{ req.category.name }}</p>
              <p><b>Description:</b> {{ req.description }}</p>
              <p>
                <b>Status:</b>
                {% if req.status == 'new' %}
                  <span>New</span>
                {% elif req.status == 'in_progress' %}
                  <span>In progress</span>
                {% else %}
                  <span>Done</span>
                {% endif %}
              </p>
              {% if req.admin_comment %}
                <p><b>Admin comment:</b> {{ req.admin_comment }}</p>
              {% endif %}
              {% if req.result_image %}
                <p><b>Result image:</b></p>
                <img src="{{ req.result_image.url }}" alt="{{ req.title }}">
              {% endif %}
            </div>
            {% if req.status != 'done' %}
              <div>
                <a
                  href="{% url 'update_status' req.id %}"
                >
                  Change
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No applications</p>
  {% endif %}
</div>
{% endblock %}