{% extends 'main/base.html'%}

{% block title %}
Home
{% endblock %}

{% block content %}


{% if user.is_staff %}
<div>
  <h1>Home page</h1>

  <p>
      Applications in progress:
    <span>{{ in_progress_count }}</span>
  </p>

  <h2>Latest completed applications</h2>

  {% if latest_done_requests %}
    <div>
      {% for r in latest_done_requests %}
        <div>
          <div>
            {% if r.result_image %}
              <img src="{{ r.result_image.url }}" alt="{{ r.title }}">
            {% endif %}
            <div>
              <h5>{{ r.title }}</h5>
              <p><b>Category:</b> {{ r.category.name }}</p>
              {% if r.admin_comment %}
                <p><b>Comment:</b> {{ r.admin_comment }}</p>
              {% endif %}
              <p><small>{{ r.created_at|date:"d.m.Y H:i" }}</small></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No completed orders</p>
  {% endif %}
</div>

{% elif user.is_authenticated %}
<div>
  <h1>Home page</h1>

  <p>
    Applications in progress:
    <span>{{ in_progress_count }}</span>
  </p>

  <h2>Latest completed applications</h2>

  {% if latest_done_requests %}
    <div>
      {% for r in latest_done_requests %}
        <div>
          <div>
            {% if r.result_image %}
              <img src="{{ r.result_image.url }}" alt="{{ r.title }}">
            {% endif %}
            <div>
              <h5>{{ r.title }}</h5>
              <p><b>Category:</b> {{ r.category.name }}</p>
              {% if r.admin_comment %}
                <p><b>Comment:</b> {{ r.admin_comment }}</p>
              {% endif %}
              <p><small>{{ r.created_at|date:"d.m.Y H:i" }}</small></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No completed orders</p>
  {% endif %}
</div>

{% else %}
<div>
  <h1>Home page</h1>

  <p>
    Applications in progress:
    <span>{{ in_progress_count }}</span>
  </p>

  <h2>Latest completed applications</h2>

  {% if latest_done_requests %}
    <div>
      {% for r in latest_done_requests %}
        <div>
          <div>
            {% if r.result_image %}
              <img src="{{ r.result_image.url }}" alt="{{ r.title }}">
            {% endif %}
            <div>
              <h5>{{ r.title }}</h5>
              <p><b>Category:</b> {{ r.category.name }}</p>
              {% if r.admin_comment %}
                <p><b>Comment:</b> {{ r.admin_comment }}</p>
              {% endif %}
              <p><small>{{ r.created_at|date:"d.m.Y H:i" }}</small></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No completed orders</p>
  {% endif %}
</div>
{% endif %}

{% endblock %}