{% extends 'main/base.html'%}

{% block title %}
Sign in
{% endblock %}

{% block content %}
<h1>Sign in</h1>

<form method="post">
    {% csrf_token %}

<form method="post">
    {% csrf_token %}

    <div>
        <input type="text" name="first_name" placeholder="Name"
               value="{{ form.first_name.value|default:'' }}">
        {% if form.first_name.errors %}
            <div>
                {{ form.first_name.errors.0 }}
            </div>
        {% endif %}
    </div><br>


    <div>
        <input type="text" name="last_name" placeholder="Last name"
               value="{{ form.last_name.value|default:'' }}">
        {% if form.last_name.errors %}
            <div>
                {{ form.last_name.errors.0 }}
            </div>
        {% endif %}
    </div><br>

    <div>
        <input type="text" name="patronymic" placeholder="Patronymic"
               value="{{ form.patronymic.value|default:'' }}">
        {% if form.patronymic.errors %}
            <div>
                {{ form.patronymic.errors.0 }}
            </div>
        {% endif %}
    </div><br>

    <div>
        <input type="text" name="username" placeholder="Login"
               value="{{ form.username.value|default:'' }}">
        {% if form.username.errors %}
            <div>
                {{ form.username.errors.0 }}
            </div>
        {% endif %}
    </div><br>

    <div>
        <input type="email" name="email" placeholder="Email"
               value="{{ form.email.value|default:'' }}">
        {% if form.email.errors %}
            <div>
                {{ form.email.errors.0 }}
            </div>
        {% endif %}
    </div><br>

    <div>
        <input type="password" name="password1" placeholder="Password">
        {% if form.password1.errors %}
            <div>
                {{ form.password1.errors.0 }}
            </div>
        {% endif %}
    </div><br>

    <div>
        <input type="password" name="password2" placeholder="Repeat password">
        {% if form.password2.errors %}
            <div>
                {{ form.password2.errors.0 }}
            </div>
        {% endif %}
    </div><br>

    <div>
        <label>
            <input type="checkbox" name="agree">
            I agree to the processing of data
        </label>
        {% if form.agree.errors %}
            <div>
                {{ form.agree.errors.0 }}
            </div>
        {% endif %}
    </div><br>

    <button type="submit">Sign in</button>
</form>
</form>
{% endblock %}